# Abaikan hasil compile NetBeans
build/
nbbuild/
dist/
nbproject/private/

# Abaikan fail sistem
.DS_Store
Thumbs.db

# Abaikan fail konfigurasi sensitif
src/java/config.properties

# Abaikan fail pengujian mengandungi maklumat sensitif (Public Repo Security)
docs/roles_list.md
docs/roles_list.pdf

#opencode plugin
opencode.json
